html, body, .container-fluid {
    background-color: #f8f9fa;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #f8f9fa;
}

.sidebar {
    background-color: darkslategrey;
    color: #f8f9fa;
}

i {
    position: relative;
        top: 4px;
}
.card {
    background-color: #96C5E8;
}
.card-text:last-child {
    margin-bottom: 1rem !important;
}